body{
    background-color: grey;
}

.navbar{
    border-bottom: solid 3px #33691E;   
}

.hello{
    color:#BDBDBD;
}

.divider{
    height: 1rem;
    width: 0;
    border-left: solid 1px #e9ecef;
    overflow: hidden;
}